/* Style for the main card */
.request-card {
  display: flex;
  padding: 0;
  border-radius: 10px;
  background-color: var(--accent-50);
}

/* Left date section */
.date-section {
  background-color: var(--accent-100); /* Light blue background */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.date-block {
  text-align: center;
}

.day, .month, .year {
  font-size: 14px;
  color: #666;
}

.date {
  font-size: 32px;
  font-weight: bold;
  color: #000;
}

/* Right info section */
.info-section {
  padding: 2px;
}

.info-section h3, h4 {
  margin: 0;
}

.time {
  color: #007bff;
  font-weight: bold;
}

.action-button {
  border-radius: 20px;
}