.custom-toolbar {
  display: flex;
  justify-content: space-around;
  height: auto;
  min-height: 16vh;
  background-color: var(--accent-50); /* Optional background color */
  border: 1px solid var(--primary-200);
  border-radius: 8px;
}

.custom-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}

.custom-tab .icon-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--ion-color-tertiary); /* Secondary color background */
}

.custom-tab .icon-circle ion-icon {
  font-size: 30px;
}

.custom-tab ion-label {
  padding: 10px;
  font-size: 12px;
}
